LICENSE.mandriva.dit
mandriva-dit-access-template.conf
mandriva-dit-base-template.ldif
mandriva-dit-setup.sh
mandriva-dit-slapd-template.conf
README.dhcp.mandriva.dit
README.dns.mandriva.dit
README.heimdal.mandriva.dit
README.mandriva.dit
README.samba.mandriva.dit
README.sudo.mandriva.dit
TODO.mandriva.dit
